*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 20px;
}
.box{
    height: 300px;
    width: 300px;
    transform: all 0.5s ease-in-out;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.box:hover{
 transform: scale(1.2) !important;
}
body:has(.box:hover) .box{
    transform: scale(0.8);
}