*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
html{
    font-family: monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center
}
p{
    color: rgb(18, 246, 33);
    font-size: 3rem;
}